<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table: educate_organisation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

    <h1>Table: educate_organisation</h1>

<header>
    <p class="header-menu">
        <a class="header-link" href="{{ url_for('show_table', table_name='loc') }}">loc</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='participants') }}">participants</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='test') }}">test</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='educate_organisation') }}">educate_organisation</a>
        <a class="header-link" href="{{ url_for('index') }}">index</a>
    </p>
</header>

        <h1>Table: educate_organisation</h1>

    <table border="1">
        <thead>
            <tr>
                <th>eoid</th>
                <th>eoname</th>
                <th>eoregname</th>
                <th>eoareaname</th>
                <th>eotername</th>
                <th>eoparent</th>
                <th>eotypename</th>
                <th>locid</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
            <tr>
                <td>{{ row['eoid'] }}</td>
                <td>{{ row['eoname'] }}</td>
                <td>{{ row['eoregname'] }}</td>
                <td>{{ row['eoareaname'] }}</td>
                <td>{{ row['eotername'] }}</td>
                <td>{{ row['eoparent'] }}</td>
                <td>{{ row['eotypename'] }}</td>
                <td>{{ row['locid'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
