<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table: participants</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>


<header>
    <p class="header-menu">
        <a class="header-link" href="{{ url_for('show_table', table_name='loc') }}">loc</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='participants') }}">participants</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='test') }}">test</a>
        <a class="header-link" href="{{ url_for('show_table', table_name='educate_organisation') }}">educate_organisation</a>
        <a class="header-link" href="{{ url_for('index') }}">index</a>
    </p>
</header>

    <h1>Table: participants</h1>

    <table border="1">
        <thead>
            <tr>
                <th>outid</th>
                <th>birth</th>
                <th>sextypename</th>
                <th>regtypename</th>
                <th>classprofilename</th>
                <th>classlangname</th>
                <th>regname</th>
                <th>areaname</th>
                <th>tername</th>
                <th>tertypename</th>
                <th>zno_year</th>
                <th>locid</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
            <tr>
                <td>{{ row['outid'] }}</td>
                <td>{{ row['birth'] }}</td>
                <td>{{ row['sextypename'] }}</td>
                <td>{{ row['regtypename'] }}</td>
                <td>{{ row['classprofilename'] }}</td>
                <td>{{ row['classlangname'] }}</td>
                <td>{{ row['regname'] }}</td>
                <td>{{ row['areaname'] }}</td>
                <td>{{ row['tername'] }}</td>
                <td>{{ row['tertypename'] }}</td>
                <td>{{ row['zno_year'] }}</td>
                <td>{{ row['locid'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
